body {
    ont-family: 'Lobster', cursive;
    font-family: 'Macondo', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'The Nautigal', cursive;
    margin: 0;
}

h1 {
    font-size: 80px;
}

h3 {
    font-size: 45px;
}

p {
    font-size: 30px;
}

.name-highlight {
    color: orange;
}

.upper-section {
    display: flex;
    background-image: url("resource/developer-portfolio/top-banner.png");
    background-repeat: no-repeat;

}

.half-width {
    width: 40%;
    margin-left: 5%;
    margin-top: 2%;
    padding-left: 85px;
    padding-right: 100px;
}

img {
    width: 27%;
    height: 10%;
    margin-top: 124px;
}